/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #d992fa;
    color: rgb(7, 7, 7);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o cabeçalho */
select {
    background-color: #e9d8f1;
    color: rgb(19, 1, 1);
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


/* Estilo para a seção principal */
label {
    padding: 50px;
}

/* ---------------------------------------------------------------------------- */
/* Configuração de flexbox para alinhar elementos lado-a-lado  */
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0;

}
.flex-item-1{
    width: 300px;
    
}
.flex-item-2{
    width: 200px;
    
}
/* ---------------------------------------------------------------------------- */
form{
    border: 1px solid black;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 500px;
    max-height: 400px;
    
}

/* Estilo para as seções */
/* head {
    margin-bottom: 20px;

} */

/* Estilo para os botões */
#btn {
    background-color: #b990e7;
    color: rgb(0, 0, 0);
    padding: 10px 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}



