/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #d992fa;
    color: rgb(7, 7, 7);
    margin: 0;
    padding: 0;
    text-align-last: center;
}

/* Estilo para o cabeçalho */
select {
    background-color: #e9d8f1;
    color: rgb(19, 1, 1);
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


/* Estilo para a seção principal */
label {
    padding: 50px;
    border: solid 1px black;
    
   
}


/* Estilo para as seções */
head {
    margin-bottom: 20px;

}

/* Estilo para os botões */
#btn {
    background-color: #b990e7;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



